{{>header}}
{{>navbar}}

<div class="container">
    <div class="row" id="activity-title">
        <h2>Search mode</h2>
    </div>
    <div class="row">
        {{>searchbar}}
        {{>filterbar}}
        <div class="container-fluid">
            <h2 style="font-family: monospace; font-weight: bold; color: floralwhite;">Search result:</h2>
        </div>
        {{#if empty}}
        <div class="container-fluid empty-result">
            <h2 style="font-weight: bold; color: #ffc966;":>Sad no result!</h2><br/>
            <p>We cannot find the profiles you are trying to match</p>
            <p>Want to retry with different fields?</p>
        </div>
        {{/if}}
        
        {{#each users}}
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-center match-thumbnail">
            <a href="/profile/{{this.login}}" style="text-decoration: none;">
            <img class="img-circle img-responsive img-center" src="{{this.name}}" alt="">
            </a>
            <h3>{{this.firstName}} {{this.lastName}}</h3>
            <p>{{this.login}} - {{this.age}} - {{this.gender}} - {{this.sexpref}} - {{this.distance}} km - popularity: {{this.popularity}}</p>
            <p style="background-color: black; color: white;">{{#each this.tags}} {{this}} - {{/each}}</p>
            <p style="background-color: white;">{{this.commons}} tags in commons</p>
        </div> 
        {{/each}}
    </div>
</div>



<div style="clear:both; height: 30em;"></div>
{{>footer}}
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/match.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
<script type="text/javascript" src="/static/js/notification.js"></script>
<script src="/static/js/socket_online.js"></script>